@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", sans-serif !important;
}

h1 {
  margin-top: 20px !important;
  font-size: 20px !important;
}

h2 {
  font-size: 20px !important;
  margin-bottom: 20px !important;
}
.dice {
  width: 40%;
}

h4 {
  margin-top: 20px !important;
  font-size: 16px !important;
}

.container {
  width: 800px !important;
  background-color: blue;
  margin: 50px;
  padding: 20px;
  border-radius: 9px;
  background-image: linear-gradient(to top left, #141e30 0%, #243b55 100%);
}

img {
  border-radius: 9px;
}

body {
  color: #e7f5ff !important;
}

.btn {
  font-weight: 800 !important;
}

.hidden {
  display: none !important;
}

.info {
  font-weight: 800;
  color: #ffa94d;
}

.btn:active {
  transform: translate(-1px, 2px);
}
